# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiexternal-format/
# ["code/rf360/atoll/apma"]
#     type = "git-repo"
#     url = "git@github.com:example_org/project.git"
#     refreshPeriod = "672h" # 4 weeks