{{ if (eq .chezmoi.os "darwin" "linux") -}}

#!/bin/bash

{{ if eq .ide "vscode" -}}
IDE_BIN=code
{{ end -}}

{{ if eq .ide "codium" -}}
IDE_BIN=codium
{{ end -}}

"$IDE_BIN" --list-extensions --show-versions

{{ $extensions := list
     "eamodio.gitlens"
     "EditorConfig.EditorConfig"
     "golang.go"
     "jinliming2.vscode-go-template"
     "github.vscode-github-actions"
     "GitHub.vscode-pull-request-github"
     "ms-python.python"
     "dbaeumer.vscode-eslint"
     "esbenp.prettier-vscode"
     "ms-azuretools.vscode-docker"
     "exiasr.hadolint"
     "ms-kubernetes-tools.vscode-kubernetes-tools"
     "ipedrazas.kubernetes-snippets"
     "Tchoupinax.tilt"
     "redhat.vscode-yaml"
     "streetsidesoftware.code-spell-checker"
     "Tyriar.sort-lines"
     "yzhang.markdown-all-in-one" -}}

set -eufo pipefail

{{ range $extensions -}}
"$IDE_BIN" --install-extension {{ . }}
{{ end -}}

{{ if eq .ide "vscode" -}}
# VSCodium is the open source version of VSCode -- not all extensions will be available
# Refer: https://github.com/VSCodium/vscodium/blob/master/docs/index.md#extensions-marketplace
# Marketplace at: https://open-vsx.org/
code --install-extension ms-vsliveshare.vsliveshare
code --install-extension ms-vsliveshare.vsliveshare-pack
{{ end -}}

{{ end -}}
